@import "../../../styles/colors.global.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 99999;
  transition: 0.5s;
  padding: 0 6%;
}
.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0px;
  gap: 15px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding-right: 5px;
  padding-left: 10px;
  ::placeholder {
    color: #ffffffc7;
  }
  max-width: 250px;
}
.search_input {
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  color: #fff;
  width: 100%;
}
.nav {
  display: flex;
  gap: 25px;
}

@media (max-width: 420px) {
  .search {
    width: 80%;
  }
  .nav {
    gap: 10px;
  }
}
