@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import "../../styles/colors.global.scss";

.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
}
.imageDiv {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.image {
  object-fit: cover;
  object-position: top;
  width: 100%;
}
.title {
  color: #fff;
  font-weight: bold;
  font-size: 85px;
  line-height: 0.9;
  padding-bottom: 50px;
  font-family: "Paytone One", sans-serif;
  padding: 0;
  margin: 0;
}
.subtitle {
  color: #fff;
  font-size: 25px;
  line-height: 0;
  margin-top: 25px;
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, rgba(255, 255, 255, 0));
}
.buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.buttons button:nth-child(1) {
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  &:hover {
    background-color: #8a541e;
    border-color: #8a541e;
  }
}
.buttons button {
  padding: 8px 15px;
}

.buttons button:nth-child(2) {
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  transition: 0.4s;
  &:hover {
    background-color: #fff;
    color: black;
  }
}
.color {
  color: #cd8c42;
  font-family: "Paytone One", sans-serif;
}
@media(max-width: 993px) {
  .title {
    font-size: 60px;
  }
}
@media(max-width: 768px) {
  .title {
    text-align: center;
    font-size: 50px;
  }
  .subtitle{
    font-size: 20px;
    text-align: center;
  }
}