@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat&display=swap");

$primaryColor: #5e421c;
$backColor: #e8d0b5;
$secondaryColor: #185d19;
$titleFont: "Dancing Script", cursive;
$textFont: "Montserrat", sans-serif;
