@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

.bestCoffee {
  width: 100%;
  background-color: #185d19;
  padding: 90px 0px;
  h1 {
    color: #fff;
    font-family: "Paytone One", "sans-serif";
    text-align: center;
    font-size:60px;
    line-height: 0.8;
    span {
      color: #e4b50c;
      font-family: "Paytone One", "sans-serif";
      font-size: 110px;
    }
  }
}
