@import "../../styles/colors.global.scss";

.bestCoffee {
  width: 100%;
  background-color: #185d19;
  padding: 90px 0px;
  h1 {
    color: #fff;
    font-family: $titleFont;
    text-align: center;
    font-size: 60px;
    line-height: 0.8;
    span {
      color: #e4b50c;
      font-family: $titleFont;
      font-size: 110px;
    }
  }
}
@media (max-width: 410px) {
  .bestCoffee {
    h1 {
      font-size: 15vw;
      span {
        font-size: 25vw;
      }
    }
  }
}
